@font-face {
    font-family: 'Bebas';
    src: url('../assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'SourceRegular';
    src: url('../assets/fonts/SourceCodePro-Regular.ttf');
}

@font-face {
    font-family: 'SourceLight';
    src: url('../assets/fonts/SourceCodePro-Light.ttf');
}

@font-face {
    font-family: 'SourceBold';
    src: url('../assets/fonts/SourceCodePro-Bold.ttf');
}

@font-face {
    font-family: 'SourceSemi';
    src: url('../assets/fonts/SourceCodePro-SemiBold.ttf');
}