<div class="tabs">
    <a routerLink="/home" routerLinkActive="active" class="button-tab">
        <div>
            <img src="assets/icons/home.svg" alt="Projects">
        </div>
        <p>Home</p>
    </a>
    <a routerLink="/about" routerLinkActive="active" class="button-tab">
        <div>
            <img src="assets/icons/user.svg" alt="About Me">
        </div>
        <p>About</p>
    </a>
    <a routerLink="/inspect" routerLinkActive="active" class="button-tab">
        <div>
            <img src="assets/icons/inspect.svg" alt="Inspect">
        </div>
        <p>Inspect</p>
    </a>
</div>