.tabs {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 15px;
    background: linear-gradient(180deg,rgba(238,238,238,1) 0%,rgba(205,205,217,1) 100%);
    bottom: 32px;
    left: 50%;
    transform: translate(-50%,200%);
    gap: 8px;
    -webkit-user-select: none;
    user-select: none;
  
    .button-tab {

        &.active{
            background: rgb(255 255 255 / 40%);
        }
        &:hover{
            background: rgba(255,255,255,.3);
            cursor: pointer;
        }

        position: relative;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 52px;
        min-width: 70px;
        border-radius: 10px;
        border: 1px solid rgba(255,255,255,.1);
        background: rgba(255,255,255,.1);
        transition: all .3s ease-in-out;

        p{
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
        }
    }

    animation: .5s cubic-bezier(.65,.65,.27,1.39) .5s appear-from-bottom forwards;
}

@keyframes appear-from-bottom {
    0% {
        opacity: 0;
        transform: translate3d(-50%,200%,150px);
    }
    100% {
        opacity: 1;
        transform: translate3d(-50%,0,150px);
    }
}